<div id="formulario-cad-aluno" class="formulario">
    <form>
        <h2>Cadastro de Aluno</h2>
        <section>
            <div class="elemento">
                <div>
                    <label>Nome da escola<br></br></label>
                    <input class="inputgeral" style="width: 100%;" type='text' placeholder='Digite o nome da sua escola' autoComplete='off'/>
                </div>
            </div>
            <div class="elemento">
                <div>
                    <label>Nome do aluno<br></br></label>
                    <input class="inputgeral" style="width: 100%;" type='text' placeholder='Digite o seu nome' autoComplete='off'/>
                </div>
            </div>
            <div class="elemento">
                <div>
                    <label>Data de Nascimento<br></br></label>
                    <input class="inputgeral" style="width: 100%;" type='date' autoComplete='off'/>
                </div>
            </div>
            <div class="elemento">
                <div>
                    <label>Nome do responsável<br></br></label>
                    <input class="inputgeral" style="width: 100%;" type='text' placeholder='Digite o nome do seu responsável' autoComplete='off'/>
                </div>
            </div>
            <div class="elemento">
                <div>
                    <label>Email do responsável<br></br></label>
                    <input class="inputgeral" style="width: 100%;" type='text' placeholder='Digite o email do seu responsável' autoComplete='off'/>
                </div>
            </div>
            <div class="elemento">
                <div>
                    <label>Telefone do responsável<br></br></label>
                    <input class="inputgeral" style="width: 100%;" id="telefone-resp" type='text' placeholder='( * * ) * * * * * - * * * *' autoComplete='off'/>
                </div>
            </div>
            <div class="elemento">
                <div>
                    <label>Registro do Aluno<br></br></label>
                    <input class="inputgeral" style="width: 100%;" type='text' placeholder='Digite o seu RA' autoComplete='off'/>
                </div>
            </div>
        </section>
        <section>
            <div class="elemento">
                <div>
                    <label>INEP da escola<br></br></label>
                    <input class="inputgeral" style="width: 100%;" type='text' placeholder='Digite o código do Inep' autoComplete='off'/>
                </div>
            </div>
            <div class="elemento">
                <div>
                    <label>Ano Escolar<br></br></label>
                    <select class="selectgeral" style="width: 100%;" autoComplete='off'>
                        <option value="">Selecione o ano</option>
                    </select>
                </div>
            </div>
            <div class="elemento">
                <div>
                    <label>Série<br></br></label>
                    <select class="selectgeral" style="width: 100%;" autoComplete='off'>
                        <option value="">Selecione a série</option>
                    </select>
                </div>
            </div>
            <div class="elemento">
                <div>
                    <label>Turma<br></br></label>
                    <select class="selectgeral" style="width: 100%;" autoComplete='off'>
                        <option value="">Selecione a turma</option>
                    </select>
                </div>
            </div>
            <div class="elemento">
                <div>
                    <label>Segmento<br></br></label>
                    <select class="selectgeral" style="width: 100%;" autoComplete='off'>
                        <option value="">Selecione o segmento</option>
                    </select>
                </div>
            </div>
        </section>
        <section>
            <div class="elemento">
                <div>
                    <label>Nome do Professor Regular<br></br></label>
                    <input class="inputgeral" style="width: 100%;" type='text' placeholder='Digite o nome do seu professor' autoComplete='off'/>
                </div>
            </div>
            <div class="elemento">
                <div>
                    <label>Nome do Professor Atendimento Educacional Especializado<br></br></label>
                    <input class="inputgeral" style="width: 100%;" type='text' placeholder='Digite o nome do professor atendente' autoComplete='off'/>
                </div>
            </div>
            <div class="elemento">
                <div>
                    <label>Equipe Multidisciplinar<br></br></label>
                    <input class="inputgeral" style="width: 100%;" type='text' placeholder='Digite qual a equipe multidisciplinar' autoComplete='off'/>
                </div>
            </div>
        </section>
        <div class="di">
            <button class="submitbtn" type="button">Salvar</button>
            <button class="cancelbtn" id="fecharAlunos">Cancelar</button>
            <button class="btn_acao" type="button">Listar</button>
        </div>
    </form>
</div>
