<div id="formulario-cad-escola" class="formulario" 
    <form>
        <h2>Cadastro da Escola</h2>
      
        <div class="elemento">
        <div>
            <label>Nome da escola<br></br></label>
            <input class="inputgeral" style="width: 100%;" type='text' placeholder='Digite o nome da escola' autoComplete='off'/>
        </div>
        </div>
        <div class="elemento">
        <div>
            <label>CEP<br></br></label>
            <input class="inputgeral" style="width: 100%;" id="cep" type='text' placeholder=' * *   * * * - * * * ' autoComplete='off'/>
        </div>
        </div>
        <div class="elemento">
        <div>
            <label>Logradouro<br></br></label>
            <input class="inputgeral" style="width: 100%;" type='text' placeholder='Rua, Alameda...' autoComplete='off'/>
        </div>
        </div>
        <div class="elemento">
        <div>
            <label>Bairro<br></br></label>
            <input class="inputgeral" style="width: 100%;" type='text' autoComplete='off'/>
        </div>
        </div>
        <div class="elemento">
        <div>
            <label>Município<br></br></label>
            <input class="inputgeral" style="width: 100%;" type='text' placeholder='Cidade' autoComplete='off'/>
        </div>
        </div>
        <div class="elemento">
        <div>
            <label>Complemento<br></br></label>
            <input class="inputgeral" style="width: 100%;" type='text' autoComplete='off'/>
        </div>
        </div>
        <div class="elemento">
        <div>
            <label>Número<br></br></label>
            <input class="inputgeral" style="width: 100%;" type='text' autoComplete='off'/>
        </div>
        </div>
        <div class="elemento">
        <div>
            <label>Estado<br></br></label>
            <select class="selectgeral" style="width: 100%;" autoComplete='off'>
                <option value=""></option>
                <option value="PE">PE</option>
                <option value="RO">RO</option>
                <option value="AC">AC</option>
                <option value="AM">AM</option>
                <option value="RR">RR</option>
                <option value="PA">PA</option>
                <option value="AP">AP</option>
                <option value="TO">TO</option>
                <option value="MA">MA</option>
                <option value="PI">PI</option>
                <option value="CE">CE</option>
                <option value="RN">RN</option>
                <option value="PB">PB</option>
                <option value="AL">AL</option>
                <option value="SE">SE</option>
                <option value="BA">BA</option>
                <option value="MG">MG</option>
                <option value="ES">ES</option>
                <option value="RJ">RJ</option>
                <option value="SP">SP</option>
                <option value="PR">PR</option>
                <option value="SC">SC</option>
                <option value="RS">RS</option>
                <option value="MS">MS</option>
                <option value="MT">MT</option>
                <option value="GO">GO</option>
                <option value="DF">DF</option>
            </select>
        </div>
        </div>
        <div class="elemento">
        <div>
            <label>Telefone da Escola<br></br></label>
            <input class="inputgeral" style="width: 100%;" id="telefone-escola" type='text' placeholder='( * * ) * * * * * - * * * *' autoComplete='off'/>
        </div>
        </div>
        <div class="elemento">
        <div>
            <label>Email da escola<br></br></label>
            <input class="inputgeral" style="width: 100%;" type='text' placeholder='Digite o email da escola' autoComplete='off'/>
        </div>
        </div>
        <div class="elemento">
        <div>
            <label>Gestor<br></br></label>
            <input class="inputgeral" style="width: 100%;" type='text' placeholder='Insira o gestor da escola' autoComplete='off'/>
        </div>
        </div>
        <div class="elemento">
        <div>
            <label>Coordenador<br></br></label>
            <input class="inputgeral" style="width: 100%;" type='text' placeholder='Insira o coordenador da escola' autoComplete='off'/>
        </div>
        </div>
        <div class="elemento">
        <div>
            <label>CNPJ<br></br></label>
            <input class="inputgeral" style="width: 100%;" type='text' id="cnpj"  placeholder='__.____.____ / ______' autoComplete='off'/>
        </div>
        </div>
        <div class="di">
        <button class="submitbtn" type='submit'>Salvar</button> <button class="cancelbtn" id="fecharEscola">Cancelar</button> <button class="btn_acao" type='btn_acao'>Listar</button>
        </div>
    </form>
</div>
