
<div id="formulario-cad-instituicao" class="formulario"> 
<form action="../incluir_instituicao.php" method="POST">
        <h2>Cadastro de Instituição</h2>
        <section>
            <div class="elemento">
                <div>
                    <label> Razão Social<br></br></label>
                    <input class="inputgeral" style="width: 100%;" type='text' name = "desc_inst" id = "desc_inst"placeholder='Digite o nome da instituicao' autoComplete='off'/>
                </div>
            </div>
            

            <div class="elemento">
                <div>
                    <label> Cnpj <br></br></label>
                    <input class="inputgeral" style="width: 100%;" type='text' name = "cnpj_inst" id="cnpj_inst" placeholder='__.___.___/___-__  ' autoComplete='off'/>
                </div>
            </div>

       
            <div class="elemento">
                <div>
                    <label> Endereço<br></br></label>
                    <input class="inputgeral" style="width: 100%;" type='text' name = "endereco_inst" id="endereco_inst"placeholder='Digite seu endereço' autoComplete='off'/>
                </div>
            </div>
            <div class="elemento">
                <div>
                    <label> Bairro<br></br></label>
                    <input class="inputgeral" style="width: 100%;" type='text' name = "bairro_inst" id="bairro_inst" placeholder='Digite seu bairro' autoComplete='off'/>
                </div>
            </div>
            <div class="elemento">
                <div>
                    <label> Municipio<br></br></label>
                    <input class="inputgeral" style="width: 100%;" type='text' name = "municipio_inst" id="municipio_inst" placeholder='Digite seu bairro' autoComplete='off'/>
                </div>
            </div>

            <div class="elemento">
                <div>
                    <label> Cep <br></br></label>
                    <input class="inputgeral" style="width: 100%;" type='text' name = "cep_inst" id="cep_inst" placeholder='*****-***' autoComplete='off'/>
                </div>
            </div>

            <div class="elemento">
                <div class="elemento">
                    <div>
                        <label>Estado<br></br></label> 
                        <select class="selectgeral" style="width: 100%;"  autoComplete='off'> n
                            <option value=""></option>
                            <option value="PE">PE</option>
                            <option value="RO">RO</option>
                            <option value="AC">AC</option>
                            <option value="AM">AM</option>
                            <option value="RR">RR</option>
                            <option value="PA">PA</option>
                            <option value="AP">AP</option>
                            <option value="TO">TO</option>
                            <option value="MA">MA</option>
                            <option value="PI">PI</option>
                            <option value="CE">CE</option>
                            <option value="RN">RN</option>
                            <option value="PB">PB</option>
                            <option value="AL">AL</option>
                            <option value="SE">SE</option>
                            <option value="BA">BA</option>
                            <option value="MG">MG</option>
                            <option value="ES">ES</option>
                            <option value="RJ">RJ</option>
                            <option value="SP">SP</option>
                            <option value="PR">PR</option>
                            <option value="SC">SC</option>
                            <option value="RS">RS</option>
                            <option value="MS">MS</option>
                            <option value="MT">MT</option>
                            <option value="GO">GO</option>
                            <option value="DF">DF</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="elemento">
                <div>
                    <label> Email<br></br></label> 
                    <input class="inputgeral" style="width: 100%;" type='text' name = "email_inst" id="email_inst" placeholder='Exemplo@email.com' autoComplete='off'/>
                </div>
            </div>
            <div class="elemento">
                <div>
                    <label> Telefone<br></br></label> 
                    <input class="inputgeral" style="width: 100%;" name = "telefone_inst" id="telefone_inst" type='text' placeholder=' ( * * ) * * * * * - * * * * ' autoComplete='off'/>
                </div>
                <div class="elemento">
                <div>
                    <label> Telefone 02<br></br></label> 
                    <input class="inputgeral" style="width: 100%;" name = "telefone2_inst" id="telefone2_inst" type='text' placeholder=' ( * * ) * * * * * - * * * * ' autoComplete='off'/>
                </div>    
            
        </section>
        <div class="di">
            <button class="submitbtn" type="submit" name ="submit">Enviar</button> 
            <button class="cancelbtn" id="fecharintituicao">Cancelar</button> 
            <button class="btn_acao" type='btn_acao'>Listar</button>
        </div>
    </form>
</div>


